.login-container {
  display: flex;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

/* LADO ESQUERDO */
.login-left {
  width: 50%;
  padding: 60px 100px; /* 🔥 mais respiro lateral */
  background: linear-gradient(180deg, #dfe7ec, #f4efe6);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* LOGO */
.logo img {
  width: 600px; /* 🔥 tamanho ideal */
  margin-bottom: 20px;
}

/* TÍTULO */
h1 {
  font-size: 40px;
  font-weight: 400; /* 🔥 mais leve */
  color: #6b6b6b;
  margin-bottom: 25px;
}

/* SUBTÍTULO */
.subtitulo {
  font-size: 18px;
  color: #6b6b6b;
  margin-bottom: 12px;
}

/* PERFIS */
.perfis {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
}

.perfis button {
  width: 118px;
  height: 80px;          /* 🔥 altura do quadrado */
  border-radius: 12px;

  border: 1px solid #cfcfcf;
  background: #f5f5f5;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 4px;              /* espaço entre ícone e texto */
  font-size: 16px;

  cursor: pointer;
  transition: 0.2s;
}

.perfis button:hover {
  background: #eaeaea;
}

.perfis button.ativo {
  background: #2f73d9;
  color: white;
  border: none;
}

/* FORM MAIS ESTREITO 🔥 */
.form-box {
  max-width: 480px;
}

/* LABEL */
label {
  font-size: 18px;
  color: #666;
}

/* INPUT */
input {
  width: 100%;
  height: 44px;
  margin-top: 6px;
  margin-bottom: 14px;
  padding: 0 12px;
  border-radius: 10px;
  border: 1px solid #cfcfcf;
  font-size: 18px;
}

/* SENHA */
.input-senha {
  position: relative;
}

.input-senha .eye {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 18px;
  cursor: pointer;
}


.acoes {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.acoes a {
  font-size: 16px;
  color: #2f73d9;
  text-decoration: none;
  
}

.btn-login {
  width: 510px;
  max-width: 505px;
  height: 50px;
  background: #2f73d9;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
}

.btn-login:hover {
  background: #1f5fc0;
}

/* LADO DIREITO */
.login-right {
  width: 50%;
  background: url('/assets/girassol.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}

/* TEXTO DA IMAGEM */
.overlay {
  position: absolute;
  top: 400px; /* 🔥 posição correta */
  right: 80px;
  color: white;
  text-align: right;
}

.overlay h2 {
  font-size: 34px;
  font-weight: 400;
  line-height: 1.3;
  max-width: 340px;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .login-container {
    flex-direction: column;
  }

  .login-left,
  .login-right {
    width: 100%;
  }

  .login-right {
    height: 250px;
  }
}